body {
  background-color: #E0E0E0;
}

h2#details-name {
  margin: 0px;
  font-size: 30px;
}

.form {
  margin-bottom: 15px;
}

.login-banner {
  height: 50px;
}

.details-row {
  margin-top: 50px;
}

.disconnect {
  height: 50px;
  float: right;
}

.login {
  height: 35px;
  float: right;
  margin-top: 10px;
  margin-bottom: 10px;
}

.featured {
  background-color: #2962ff;
  width: 200px;
  height: 75px;
  margin-top: 25px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.item-details {
  text-align: center;
}

.details-image {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 15px;
}

.button {
  background-color: white;
  width: 150px;
  height: 50px;
  margin-top: 25px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  color: black;
}

.cancel {
  background-color: white;
  width: 150px;
  height: 50px;
  margin-top: 25px;
  margin-left: 25px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  color: black;
}

.items {
  background-color: white;
  padding: 20px;
  margin-bottom: 25px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  text-align: center;
  margin-right: 5px;
}

.items:hover {
 background-color: #ffa726;
 padding: 20px;
}

.main-column {
 padding: 20px;
 margin-bottom: 5px;
 text-align: center;
}

.category-list {
 padding: 20px;
 margin-bottom: 5px;
 background-color: white;
 box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.category-list:hover {
 background-color: #ffa726;
 padding: 20px;
}

.lower-banner {
 vertical-align: middle;
 text-align: center;
 margin: 0px;
 background-image: url("/static/images/banner2.png");
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-position: top;
}

.home {
  height: 25px;
  margin-top: 10px;
}

.upper-banner {
 background-color: #0039cb;
 color: white;
}

.item-row {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

#result {
  text-align: center;
  color: #e88c06;
}

* {
	font-family: "Helvetica Neue Bold", Roboto, Helvetica, Arial, sans-serif;
	font-weight: 700;
}

h1 {
	font-family: "Helvetica Neue Light", Roboto, Helvetica, Arial, sans-serif;
	font-size: 50px;
	color: white;
	line-height: 60px;
	font-weight: 600;
  margin: 0px;
  padding: 25px;
}

h2 {
  font-family: 'Special Elite', cursive;
	font-size: 40px;
	line-height: 29px;
  color: #e88c06;
}

h3 {
	font-size: 18px;
	color: #4A4A4A;
	line-height: 23px;
}
