{% extends "main.html" %}
{% block content %}
{% include "headeruser.html" %}

<div class="row">
    <div class="col-md-6">
      <div class="main-column">
        <h2>Categories</h2>
      </div>
      {% for each_category in catalog %}
        <div class="category-list">
          <a href = "{{url_for('showItems', catalog_id = each_category.id)}}"><h3>{{each_category.name}}</h3></a>
        </div>
      {% endfor %}
    </div>
    <div class="col-md-6">
      <div class="main-column">
        <h2>Featured Items</h2>
      </div>
      {% for each_featured in featured %}
        <div class="category-list">
          <a href = "{{url_for('showDetails', catalog_id=each_featured.catalog_id, item_id = each_featured.id)}}"><h3>{{each_featured.name}}</h3></a>
        </div>
      {% endfor %}
    </div>
</div>

{% endblock %}
