Details of Items for users

<div>
  {% for each_item in items %}
      <div class="row">
        <div class="col-md-1"></div>
          <div class="col-md-10 restaurant-list">
            <h3>{{each_item.name}}</h3>
            <h4>{{each_item.description}}</h4>
            <h4>{{each_item.price}}</h4>
            <h4>Featured Item: {{each_item.featured}}</h4>
              <img src="/static/images/{{each_item.image}}.jpg" alt="product image" style="width:304px;height:228px;">
            <a href="{{url_for('deleteItem', catalog_id = catalog.id, item_id=each_item.id )}}">
              <button class="btn btn-default" id="new-item">
                <span class="glyphicon glyphicon-glass" aria-hidden="true"></span>Delete Item
              </button>
            <a href="{{url_for('editItem', catalog_id = catalog.id, item_id=each_item.id )}}">
              <button class="btn btn-default" id="new-item">
                <span class="glyphicon glyphicon-glass" aria-hidden="true"></span>Edit Item
              </button>
          </div>
        <div class="col-md-1"></div>
      </div>
    </a>
  {% endfor %}
</div>
