{% extends "main.html" %}
{% block content %}
{% include "headeruser.html" %}

<div class="item-row">
  <h2>Edit {{item.name}}</h2>
</div>
</div>
<div class="col-md-6 col-md-offset-1 padding-top">
  <form action="#" method = "post">
    <div class="form">
      <label for="name">Name:</label>
      <input type ="text" maxlength="50" class="form-control" name="name" placeholder="{{item.name}}">
    </div>
    <div class="form">
      <label for="description">Description:</label>
      <textarea class="form-control" maxlength="250" rows="3" name="description" placeholder="{{item.description}}"></textarea>
    </div>
    <div class="form">
      <label for="price">Price:</label>
      <input type ="text" class="form-control" maxlength="10" name="price" placeholder="{{item.price}}">
    </div>
    <div class="form">
      <label for="image">Image:</label>
      <input type ="text" maxlength="50" class="form-control" name="image" placeholder="{{item.image}}">
    </div>
    <div class="form">
      <label for="course">Featured:</label>
      <div class="radio">
        <label><input type="radio" name="featured" value="yes">Yes</label>
      </div>
      <div class="radio">
        <label><input type="radio" name="featured" value="no">No</label>
      </div>
    </div>
    <button type="submit" class="button col-md-2 col-md-offset-1">Save Changes</button>
  </form>
  <a href = '{{url_for('showItems', catalog_name=catalog_name)}}'><button class="button col-md-2 col-md-offset-1">Cancel</button></a>
</div>

{% endblock %}
