{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<div class="item-row">
  <h2>Add Item for {{catalog.name}} Category</h2>
</div>
</div>
<div class="col-md-6 col-md-offset-1 padding-top">
  <form action="#" method = "post">
    <div class="form">
      <label for="name">Name:</label>
      <input type ="text" maxlength="50" class="form-control" name="name"placeholder="Name of the item">
    </div>
    <div class="form">
      <label for="description">Description:</label>
      <textarea class="form-control" maxlength="250" rows="3" name="description" placeholder="Description of the item"></textarea>
    </div>
    <div class="form">
      <label for="price">Price:</label>
      <input type ="text" class="form-control" maxlength="10" name="price" placeholder="Price in $">
    </div>
    <div class="form">
      <label for="image">Image:</label>
      <input type ="text" maxlength="50" class="form-control" name="name"placeholder="Image Name">
    </div>
    <div class="form">
      <label for="course">Featured:</label>
      <div class="radio">
        <label><input type="radio" name="featured" value="yes">Yes</label>
      </div>
      <div class="radio">
        <label><input type="radio" name="featured" value="no">No</label>
      </div>
    </div>
  </form>
</div>

<button type="submit" class="button" id="submit" type="submit">Create</button>

{% endblock %}
