{% extends "main.html" %}
{% block content %}
{% include "headeruser.html" %}

<div class="item-row">
  <h2>Available {{catalog.name}}'s</h2>
</div>
<div class="col-md-12">
{% for each_item in items %}
  <div class="col-md-3">
    <div class="items">
      <a href = "{{url_for('showDetails', catalog_name=catalog.name, item_id = each_item.id)}}"><h3>{{each_item.name}}</h3></a>
    </div>
  </div>
{% endfor %}
</div>

<div class="row col-md-12">
  <a href="{{url_for('newItem', catalog_id = catalog.id )}}">
    <button class="button">Add New Item</button>
</div>



{% endblock %}
